<div class="login-container">
  <div class="login-card">
    <h2>GelatoFlow</h2>
    <p>Inicio de sesión</p>

    <form (ngSubmit)="iniciarSesion()">
      <div class="campo">
        <label>Email</label>
        <input 
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Ingrese su correo"
          required>
      </div>

      <div class="campo">
        <label>Contraseña</label>
        <input 
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Ingrese su contraseña"
          required>
      </div>

      <button type="submit">Ingresar</button>

      <p class="error" *ngIf="mensajeError">
        {{ mensajeError }}
      </p>
    </form>
  </div>
</div>